.band {
    outline: solid;
    background-color: cadetblue;
    padding-bottom: 2px;
}

.band_title {
    width: 100%;
}

.band_content {
}

.series {
    outline: dotted;
    background-color: darkkhaki  ;
    margin-left: 50px;
    margin-right: 10px;
}

.series_title {
    width: 100%;
}

.series_content {
}

.card {
    display:inline;
    font-size: 54px;
    margin: 2px;
}

table, th, td {
  border: 1px solid;
}

.winner {
    color: red;
}